bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# JetBrains Rider / IntelliJ
.idea/
*.iml

# Rider / ReSharper user settings
*.DotSettings.user

**/appsettings.Development.json
**/appsettings.json
