@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Colors */
    --color-primary: #00c2ff;
    --color-secondary: #dd0bff;
    --color-dark: #111111;

    /* Font */
    --font-montserrat: "Montserrat", sans-serif;

    /* Container padding */
    --container-padding-default: 1rem;
    --container-padding-sm: 3rem;
}

@layer utilities {
    .container {
        max-width: 1280px;
        margin-inline: auto;
        padding-inline: var(--container-padding-default);
    }

    @media (min-width: 640px) {
        .container {
            padding-inline: var(--container-padding-sm);
        }
    }
}